### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Linux ###
.*
!.gitignore
*~

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### NetBeans ###
Bignum/nbproject/private/
Bignum/build/
Bignum/nbbuild/
Bignum/dist/
Bignum/nbdist/
Bignum/nbactions.xml
Bignum/nb-configuration.xml
