### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Linux ###
.*
!.gitignore
*~

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
